/* .hero {
  background: url("../../assets/hero-bg-img\ 1.png") no-repeat center
    center/cover;
  height: 833px;
  width: 100%;
} */
.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.hero-content p {
  width: 982px;
  font-weight: 700;
  font-size: 45px ;
  margin-top: 1rem;
  padding: 10px;
  line-height: 76.8px;
}
@media screen and (min-width: 768px){
  .hero-content p{
  width: 982px;
  font-weight: 700;
  font-size: 64px;
  line-height: 76.8px;
}
}
