header {
  width: 100%;
  /* height: 10vh; */
  background-color: #000000;
  /* background-color: red; */
  color: #ffff;
  z-index: 1;
}
a{
  color: #ffff;
}
.logo-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem .5rem;
}
.use-app-btn{
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  color: #000000;
  border-radius: 48px;
  padding: 5px 15px;
  background-color: #ffffff;
  cursor: pointer;
}
.header-nav-links{
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
.show-links{
  height: 10rem;
}
.nav-btn-container{
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
.show-btn{
  height: 10rem;
}
.links a {
  display: block;
  padding: 0.5rem 1rem;
  color: #ffffff;
}
.menu-bar{
   display: flex;
}
.close {
  font-size: 35px;
  cursor: pointer;
}
.bars {
  font-size: 35px;
  cursor: pointer;
}
.logo a{
  text-decoration: none;
  color: #ffff;
  font-family: "Inknut Antiqua";
  font-size: 15px;
  font-weight: 600;
  line-height: 30.95px;
}
.nav-btn-container{

  text-align: center;
}
.login-register {
  /* width: 100%; */
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  border: 1px solid #FFFFFF80;
  border-radius: 48px;
  padding: 7px 20px;
  background-color: #0f0f0f;
  color: #ffffff;
  cursor: pointer;
}
@media screen and (min-width: 915px) {
.header-content {
  max-width: 1450px;
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* text-align: center; */
}
.use-app-btn{
  display: none;
}
.logo a{
  text-decoration: none;
  color: #ffff;
  font-family: "Inknut Antiqua";
  font-size: 30px;
  font-weight: 600;
  line-height: 92.84px;
}
 .header-nav-links{
    height: auto !important;
  }
.links{
  display: flex;
  align-items: center;
  gap: 44px;
}
.nav-btn-container{
  height: auto !important;
}
.menu-bar{
   display: none;
}
}