.how-it-works-main-container {
  position: relative;
  min-height: 150vh;
}
.how-it-works-sub-container {
  /* position: relative; */
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
  margin-top: 5rem;
}
.how-it-works-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.how-it-works-title h4 {
  font-weight: 700;
  font-size: 48px;
  line-height: 62.4px;
  letter-spacing: -2%;
  /* text-align: center; */
}
.how-it-works-description p {
  width: 710px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28.8px;
  letter-spacing: -2%;
  text-align: center;
}
.how-it-works-btn-container {
  position: absolute;
  top: 13px;
  /* bottom: 500rem; */
  left: 1020px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.how-it-works-slider-btn {
  border-radius: 58px;
  padding: 6px 20px;
  border: 1px solid #0000005e;
  background-color: #ffffff;
  cursor: pointer;
}
.how-it-works-slider-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}
.need-car {
  position: absolute;
  top: -120px;
  right: 200px;
}
.dealer {
  position: absolute;
 top: -120px;
  right: 30px;
}
.how-it-works-slider-btn:hover {
  border: none;
  color: #ffffff;
  background-color: #0f0f0f;
}
.how-it-works-btn-active {
  border: none;
  color: #ffffff;
  background-color: #0f0f0f;
}
/* need car style */
.need-car-flex {
  margin-top: 5rem;
}
.need-car-left-container {
  position: absolute;
  top: 250px;
  left: 192px;
  padding-bottom: 1rem;
  z-index: 1;
}
.need-car-left-content {
  max-width: 592px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 20px 20px;
  border-radius: 24px;
  border: 1px solid #0000001a;
  background-color: #ffffff;
}
.left-content-left-img {
  padding: 35px 15px;
  border-radius: 16px;
  background-color: #f5f5f5;
}
.left-content-right {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.left-content-right-title h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}
.left-content-right-desc p {
  width: 454px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28.8px;
  letter-spacing: -2%;
  color: #000000;
}
.need-car-right-img {
  max-width: 100%;
  height: auto;
  /* position: absolute; */
  top: 210px;
  right: 645px;
  padding-top: 7rem;
  padding-bottom: 10rem;
  padding-left: 13rem;
  border-radius: 24px;
  background-color: #f5f5f5;
}
/* dealer style */
.dealer-flex {
  margin-top: 5rem;
}
.dealer-left-img {
  max-width: 100%;
  height: auto;
  /* position: absolute; */
  top: 210px;
  left: 645px;
  padding-top: 7rem;
  padding-bottom: 10rem;
  padding-left: 13rem;
  border-radius: 24px;
  background-color: #f5f5f5;
}
.dealer-right {
  position: absolute;
  top: 250px;
  left: 162px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  z-index: 1;
}
.dealer-right-content {
  width: 592px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 30px 20px;
  border-radius: 24px;
  border: 1px solid #0000001a;
  background-color: #ffffff;
}
.right-content-left {
  padding: 35px 15px;
  border-radius: 16px;
  background-color: #f5f5f5;
}
.right-content-left img {
  font-size: 24px;
}
.right-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.right-container-title h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}
.right-container-desc p {
  width: 454px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28.8px;
  letter-spacing: -2%;
  color: #000000;
}
